<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tracking-tab">
      <ion-icon name="stopwatch-outline"></ion-icon>
      <ion-label>Stoppuhr</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history-tab">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Historie</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
