<div class="component-container">
  <span class="timer">
    {{ time }} s
  </span>

  <ion-button
    *ngIf="!isRunning"
    class="start-stop-button"
    color="primary"
    (click)="start()"
    >Start <ion-icon name="play-outline"></ion-icon
  ></ion-button>
  <ion-button
    *ngIf="isRunning"
    class="start-stop-button"
    color="light"
    (click)="stop()"
    >Stop <ion-icon name="pause-outline"></ion-icon
  ></ion-button>  
</div>
