.component-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
}

.timer {
  font-size: 2.8rem;
  margin-bottom: 0.5rem;
}

.start-stop-button {
  min-height: 3.2rem;
  font-size: 1.2rem;
}
