<ion-slides pager="true">
  <ion-slide
    ><ion-card class="metro-card">
      <img class="metro-image" src="assets/img/flexity_tram.jpg" />
      <ion-card-header>
        <ion-card-subtitle>Flexity F8 / F8Z / F6Z</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Länge:
        <ion-segment value="30_meters">
          <ion-segment-button value="30_meters">30 Meter</ion-segment-button>
          <ion-segment-button value="40_meters">40 Meter</ion-segment-button>
        </ion-segment>
      </ion-card-content>
    </ion-card></ion-slide
  >
  <ion-slide
    ><ion-card class="metro-card">
      <img class="metro-image" src="assets/img/gt6_gtz_gtu_tram.jpg" />
      <ion-card-header>
        <ion-card-subtitle>GT6 / GTZ / GTU</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Länge:
        <ion-segment value="30_meters">
          <ion-segment-button value="30_meters">27 Meter</ion-segment-button>
          <ion-segment-button value="40_meters">58 Meter</ion-segment-button>
        </ion-segment>
      </ion-card-content>
    </ion-card></ion-slide
  >
</ion-slides>
