<ion-slides #tramSlider pager="true" (ionSlideDidChange)="slideChanged()">
  <ion-slide *ngFor="let tram of tramTypes"
    ><ion-card class="metro-card">
      <img class="metro-image" [src]="tram.imageUrl" />
      <ion-card-header>
        <ion-card-title>{{ tram.cardTitle }}</ion-card-title>
      </ion-card-header>
    </ion-card></ion-slide
  >
</ion-slides>

<ion-segment (ionChange)="lengthSelectionChanged($event)">
  <ion-segment-button
    *ngFor="let lengthValue of (selectedTram$ | async)?.lengths"
    [value]="lengthValue"
    >{{ lengthValue }} Meter</ion-segment-button
  >
</ion-segment>
