<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Stoppuhr </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="save()">
        <ion-icon slot="icon-only" name="save"></ion-icon>
      </ion-button>
      <ion-button (click)="resetTimer()">
        <ion-icon slot="icon-only" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content">
    <app-metro-chooser></app-metro-chooser>
    <div class="speed-value-container">
      <ion-label class="caption">Tempo:</ion-label>
      <ion-label color="primary"
        >{{(trackingService.tramSpeed$ | async) | number:'0.0-1'}}
        km/h</ion-label
      >
    </div>
    <div class="stopwatch">
      <app-stopwatch [resetRequest]="resetTimerRequest$"></app-stopwatch>
    </div>
  </div>
</ion-content>
