$offset-top: 56px;
$offset-bottom: 57px;

.content {
  display: flex;
  flex-flow: column;
  height: calc(100vh - #{$offset-top} - #{$offset-bottom}); // -57px offset for tabs
  padding: 1rem;
}

.speed-value-container {
  margin-top: 1rem;
  display: flex;
  align-items: baseline;
  font-size: 1.5rem;

  .caption {
    flex-grow: 1;
  }
}

.stopwatch {
  display: flex;
  align-items: center;
  align-self: center;
  flex-grow: 1;
}
