<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tracking</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-metro-chooser></app-metro-chooser>

  <ion-grid style="margin: 1rem">
    <ion-row>
      <ion-col>
        <ion-label class="value-caption">Dauer</ion-label>
      </ion-col>

      <ion-col style="text-align: end">
        <ion-label class="value-caption">Tempo</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label color="primary">24.950 s</ion-label>
      </ion-col>

      <ion-col style="text-align: end">
        <ion-label color="primary">12.59 km/h</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <app-stopwatch></app-stopwatch>
    </ion-row>
  </ion-grid>
</ion-content>
